html, body {
    margin: 0;
    height: 100%;
}

@font-face {
    font-family: Junction;
    src: url("Junction-regular.otf") format("opentype");
}

@font-face {
    font-family: Junction;
    font-weight: bold;
    src: url("Junction-bold.otf") format("opentype");
}

body {
	text-align: center;
}

h1 {
	font-family: "Junction", Helvetica Neue, Arial, sans-serif;
	font-size: 32px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	margin-top: 0px;
	margin-left: 0px;
}

h3 {
	font-family: "Junction", "Helvetica Neue", Arial, sans-serif;
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	margin-top: 0px;
	margin-left: 0px;
}

p {
	font-family: "Junction", "Helvetica Neue", Arial, sans-serif;
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	margin-top: 0px;
	margin-left: 0px;
}

blockquote {
	font-family: "Junction", "Helvetica Neue", Arial, sans-serif;
	font-size: 21px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	margin-top: 0px;
	margin-left: 0px;
}

pre {
	font-family: "Junction", "Helvetica Neue", Arial, sans-serif;
	font-size: 13px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	margin-top: 0px;
	margin-left: 0px;
}

.bold {
	font-weight: bold;
}

.title {
    color: white;
	text-align: center;
	padding-top: 90px;
}

.title.main{
	font-size: 50px;
}

.title.second-page{
	color: #283048;
}

.chart-1, .chart-2, .chart-3, .chart-4 {
	display: inline-block;
}

.fade {
	opacity: 1;
	transition: opacity .25s ease-in-out;
	-moz-transition: opacity .25s ease-in-out;
	-webkit-transition: opacity .25s ease-in-out;
}
 
.fade:hover {
	opacity: 0.75;
} 

i {
	margin-top: 60px;
    border: solid white;
    border-width: 0 7px 7px 0;
    display: inline-block;
	padding: 3px;
	height: 20px;
	width: 20px;
	
}

.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}